header {
  height: 140px;
  border-bottom: 3px solid var(--bleu);
  border-radius: 10px;
  position: sticky;
  top: 0;
  z-index: 10;
}
header .title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .title img {
  height: 80%;
  margin: 0 20px;
}

header .title .center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
header .title h1 {
  text-align: center;
  font-size: 24px;
  color: var(--orange);
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 10px;
}
header .title p {
  text-align: center;
}
header a {
  color: var(--bleu);
  text-decoration: none;
  font-style: italic;
}
header .title .center .menu {
  display: flex;
  gap: 25px;
  margin-bottom: 15px;
}
header .menu .button a {
  font-style: normal;
  padding: 5px;
}
header .menu .button a:hover {
  font-weight: bold;
  color: var(--orange);
}
.page-location a {
  color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 4px;
}

/* RESPONSIVE */
@media (max-width: 800px) {
  header .title img {
    height: 60%;
  }
  header .title h1 {
    font-size: 18px;
  }
  header .title p {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  header .title img {
    width: 10%;
    object-fit: contain;
  }
  header .title h1 {
    font-size: 14px;
  }
  header .title p {
    font-size: 12px;
  }
  header .title .center .menu {
    font-size: 14px;
    gap: 15px;
  }
}
