.history-graph {
  padding: 15px 0;
  display: flex;
  width: 100%;
  height: 500px;
}
.loading {
  cursor: progress;
}

.history-graph .map-container {
  width: min(500px, 50%);
  height: 100%;
  padding: 0 5px;
  border: 1px solid var(--bleu);
}

.history-graph .results-container {
  margin: 20px;
  height: 100%;
  width: max(calc(100% - 500px), 50%);
}
.history-graph .results-container h1 {
  text-align: center;
  margin: 5px 0;
  font-size: 25px;
  color: var(--bleu);
  border-bottom: none;
}
.history-graph .results-container h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: var(--orange);
  margin: 5px 0;
}
.history-graph .results-container h6 {
  text-align: center;
  font-style: italic;
  margin-bottom: 10px;
}

.history-graph .graph-container {
  width: 100%;
  height: calc(100% - 50px);
}

.history-graph .message-container {
  width: 100%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/prenoms-melange.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.history-graph .message-container p {
  text-align: center;
  font-size: 25px;
  background-color: var(--bleu);
  color: var(--jaune);
  padding: 15px;
  border-radius: 10px;
}

/* RESPONSIVE */
@media (max-width: 800px) {
  .history-graph {
    flex-direction: column-reverse;
    align-items: flex-start;
    height: 900px;
  }
  .history-graph .map-container {
    height: 45%;
    width: 90%;
    margin: 0 auto;
  }
  .history-graph .results-container {
    height: 55%;
    width: 100%;
    margin: 20px auto;
  }
  .history-graph .message-container p {
    font-size: 18px;
  }
}
