.top-names {
  padding-bottom: 30px;
  display: flex;
  width: 100%;
  height: 500px;
}

.top-names .map-container {
  width: min(500px, 50%);
  height: 100%;
  padding: 0 5px;
  border: 1px solid var(--bleu);
}

.top-names .results-container {
  margin: 20px;
  height: 100%;
  width: max(calc(100% - 500px), 50%);
}
.top-names .results-container h1 {
  text-align: center;
  margin: 5px 0;
  font-size: 25px;
  color: var(--bleu);
  border-bottom: none;
}
.top-names .results-container h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: var(--orange);
  margin: 5px 0;
}
.top-names .results-container h6 {
  text-align: center;
  font-style: italic;
}

.top-names .chart {
  margin: 15px;
  border: 3px solid var(--bleu);
  height: 50%;
  width: calc(100% - 30px);
  overflow-y: scroll;
  /* background-color: var(--bleu); */
  color: var(--bleu);
}

.top-names .loading {
  background-image: url(../assets/bebe-loading.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.top-names .chart table {
  width: 100%;
}
.top-names .chart tr th {
  line-height: 40px;
  font-weight: bold;
}
.top-names .chart tbody tr:hover {
  cursor: pointer;
}
.top-names .chart tr th:nth-child(2) {
  text-align: left;
}
.top-names .chart tr td {
  line-height: 21px;
}
.top-names .chart tr td:nth-child(1) {
  width: 20%;
  text-align: center;
}
.top-names .chart tr td:nth-child(2) {
  text-align: left;
}
.top-names .chart tr td:nth-child(3) {
  width: 20%;
  text-align: center;
}
.top-names .chart tbody tr:nth-child(2n + 1) {
  /* color: var(--jaune); */
  background-color: var(--bleu);
  color: var(--beige);
}

.top-names .array-navigation {
  display: flex;
  justify-content: space-between;
}
.top-names .array-navigation p {
  font-size: 14px;
}
.top-names .array-navigation p:hover {
  font-weight: bold;
  color: var(--orange);
  cursor: pointer;
}

.top-names .search-name {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px 10%;
}
.top-names .search-name .input-name {
  width: 100%;
}
.top-names .search-name p {
  color: var(--orange);
  font-size: 12px;
  font-style: italic;
}

/* RESPONSIVE */
@media (max-width: 800px) {
  .top-names {
    flex-direction: column-reverse;
    align-items: flex-start;
    height: 1000px;
  }
  .top-names .map-container {
    height: 500px;
    width: 90%;
    margin: 0 auto;
  }
  .top-names .results-container {
    height: 500px;
    width: 90%;
    margin: 20px auto;
  }
}
